$primary-color: #007bff; // Replace #007bff with your desired color code

// General Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

// Header Styles
.header {
  background-image: url("../assets/Hero Background Shape.svg"), url("../assets/Hero Banner.png");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  color: white;
  height: 90vh;
  padding-left: 1rem;

  .navbar {
    padding: 1rem;

    .navbar-brand {
      font-size: 2.5rem;
      font-weight: bold;
      color: #fff;
    }

    .language-switcher {
      color: #fff;
      margin-left: 0.5rem;

      &:hover {
        color: #ddd;
      }
    }

    .dropdown-toggle::after {
      margin-left: 0.3rem;
      border-top: 0.3em solid white;
    }

    .dropdown-menu {
      background-color: #333;

      .dropdown-item {
        color: white;

        &:hover {
          background-color: #555;
        }
      }
    }
    .navbar-nav li{
      padding: 15px;
    }

    .navbar-toggler {
      border: none;

      img {
        filter: brightness(0) invert(1);
      }
    }

    // Media query to hide the extra hamburger icon on smaller screens
    @media (max-width: 992px) {
      .navbar-nav .nav-item:last-child {
        display: none;
      }
    }
  }

  .header-content {
    margin-top: 9%;
    width: 70%;
    text-align: left;
    margin-left: 100px;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      max-width: 50%;
    }

    p {
      font-size: 1.2rem;
      padding-top: 1rem;
      color: #eee;
      max-width: 50%;
    }

    @media (max-width: 768px) {
      width: 50%;
      margin-left: 0;
      text-align: center;
    }
  }
}

// About Us Section
.about_us {
  margin-top: 40px;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    color: $primary-color; // Define this variable or replace with color code
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    max-width: 600px;
  }
}

// Footer Section
.footer {
  padding: 1rem 0;
  text-align: center;
  background-color: $primary-color; // Define or replace with actual color
  color: white;

  .social-icons {
    a {
      color: white;
      margin-right: 1rem;

      &:hover {
        color: #ddd;
      }
    }
  }
}

// Contact Us Section (if needed)
.contact-us {
  .container-fluid {
    padding: 0;
  }

  .map_container {
    position: relative;

    iframe {
      width: 100vw;
      height: 500px;
      border: none;
    }
  }

  .location-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
  }
}
